[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/safe-contracts"]
	path = lib/safe-contracts
	url = https://github.com/safe-global/safe-contracts
